<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchMeTestMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mapTest10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>506C44971D9950CD00879F40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5092AD8E1D92B0CE009E8E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5092ADA71D92B0CE009E8E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5092ADB21D92B0CE009E8E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
